@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #026e0f;
    }
</style>

<div class="text-center">
    <h1 class="display-10" style="color: #fff">Добро пожаловать в Stock</h1>
    <h2 class="display-6" style="color: #DCDCDC">Приложение предоставляет эффективное решение для управления вашим складом</h2>
</div>
